/* Spacing */
.mt-6{
    margin-top:7rem;
}
/* Typography */
h1, h2, h3, h5 {
    font-family: 'Abril Fatface', serif;
}
h4, p {
    font-family: 'Source Sans Pro', sans-serif;
}
.whiteText{
    color: #F7F7F7
}
.goldFusion{
    color: #7A7446;
}
.ashGray {
    color: #BCC7AF;
}
.link {
    color: #215E5C;
    text-decoration: underline;
}
/* Background Colors */
.chineseSilverBack {
    background-color: #CCCECC;
    position: relative;
}
.chineseSilverBack:before {
    content:"";
    background-color: #CCCECC;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    width: 270vw;
    margin-left: -50%;
    transform: translateX(-50%);
    z-index: -1;
}
.dimGrayBack {
    background-color: #676D65;
    position: relative;
}
.dimGrayBack:before {
    content:"";
    background-color: #676D65;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    width: 270vw;
    margin-left: -50%;
    transform: translateX(-50%);
    z-index: -1;
}
.kombuGreenBack {
    background-color: #343C32;
    position: relative;
}
.kombuGreenBack:before {
    content:"";
    background-color: #343C32;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    width: 270vw;
    margin-left: -50%;
    transform: translateX(-50%);
     z-index: -1;
}
/* Navbar */
.bg-custom {
    background-color:#343C32;
}
.nav-link {
    color: #f7f7f7;
    align-self: center;
}
.nav-link:hover {
    color: #BCC7AF;
}
.nav-pills .active {
    background-color: #7A7446 !important;
}
/* Dropdown Menu */
#dropdownMenuLink {
    background-color: transparent;
    border: none;
}
.dropdown-menu {
    background-color: #343C32;
}
.dropdown-item {
    color: #f7f7f7;
}
/* More styling */
.tag {
    background-color: #3AAFA9 !important;
    color: #343C32;
}